@using LXP2CYD.Web.Startup
@using LXP2CYD.Web.Models.Common.Modals
@model LXP2CYD.Web.Models.Bursaries.EditBursaryModalViewModel

@{ ViewData["Title"] = "EditBursary";
    Layout = null;}


@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Edit bursary"))
<form role="form" class="form-horizontal" asp-action="Edit">
    <input type="hidden" name="Id" value="@Model.Bursary.Id" />
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row px">
            <div class="col-md-12">
                <div class="form-group required">
                    <label class="col-form-label">Title</label>
                    <input value="@Model.Bursary.Title" placeholder="What's the bursary about?" type="text" class="form-control" name="Title" required>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group required">
                    <label class="col-form-label">Company Name</label>
                    <input value="@Model.Bursary.CompanyName" placeholder="Company issuing the bursary" type="text" class="form-control" name="CompanyName" required>

                </div>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-md-12">
                <div class="form-group required">
                    <label class="col-form-label">Link</label>
                    <input type="text" value="@Model.Bursary.Link" placeholder="Link to the bursary age" class="form-control" name="Link" required>

                </div>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-md-12">
                <div class="form-group required">
                    <label class="col-form-label">Document Url</label>
                    <input type="text" value="@Model.Bursary.DocumentUrl" placeholder="Attachments" class="form-control" name="DocumentUrl">

                </div>
            </div>
        </div>

    </div>

    @*<div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>*@
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>
<script src="~/view-resources/Views/Bursaries/_EditModal.js" asp-append-version="true"></script>
