@using Microsoft.Extensions.Configuration
@inject IConfiguration _config
@model LXP2CYD.Web.Models.Home.HomePageViewModel

@{
    ViewData["Title"] = "Home";
    Layout = "_Layout.cshtml";

}

<!-- banner section -->
<partial name="_bannerSection" />

<!-- welcome section -->
<section class="w3l-feature-8">
    <div class="features-main py-5">
        <div class="container py-md-5 py-4">
            <div class="title-heading-w3 text-center mx-auto mb-5 pb-sm-4">
                <h3 class="title-main">Welcome to <span>@_config["AppName"]</span></h3>
            </div>
            <div class="row features text-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="feature-body">
                        <div class="feature-images">
                            <span class="fa fa-graduation-cap" aria-hidden="true"></span>
                        </div>
                        <div class="feature-info mt-4">
                            <a href="about.html">
                                <h3 class="feature-titel">
                                    Quality Tutoring
                                </h3>
                            </a>
                            <p class="feature-text">
                                Our volunteers are dedicated to ensuring that learners understand their work better,
                                resulting in university grade and work-ready graduates.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-sm-0 mt-5">
                    <div class="feature-body">
                        <div class="feature-images">
                            <span class="fa fa-users" aria-hidden="true"></span>
                        </div>
                        <div class="feature-info mt-4">
                            <a href="about.html">
                                <h3 class="feature-titel">Dedicated Volunteers</h3>
                            </a>
                            <p class="feature-text">
                                Our learners are given the best possible resources to cope with academic, social and mental stresses.
                                We give our learners free carrer guidance, counselling, and mentorship from the best volunteers our communuty can offer.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mt-lg-0 mt-5">
                    <div class="feature-body">
                        <div class="feature-images">
                            <span class="fa fa-book" aria-hidden="true"></span>
                        </div>
                        <div class="feature-info mt-4">
                            <a href="about.html">
                                <h3 class="feature-titel">Books & Library</h3>
                            </a>
                            <p class="feature-text">
                                We ensure that our learners recieve the latest and best quality study resources.
                                With our department of education acredited alearning materials, we ensure that our tutors work in sync with their school sylabus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //welcome section -->
<!-- stats -->
<section class="w3_stats py-sm-5 pt-sm-0 pt-5" id="stats">
    <div class="container py-md-5 py-4">
        <div class="title-heading-w3 text-center mx-auto mb-5 pb-sm-4">
            <h3 class="title-main">Strength in <span>Numbers</span></h3>
            <p class="mt-4 pt-md-2">
                We pride ourselves in the work that we do, This is why we give our learners our all..
                But most importantly we take even greater pride in our learners,
                They are our future leaders, the Nelson Mandela's of tomorrow.

            </p>
        </div>
        <div class="w3-stats">
            <div class="row text-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="counter">
                        <div class="timer count-title count-number" data-to="@Model.NoOfAccounts" data-speed="1500"></div>
                        <p class="count-text">Learners & counting</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-sm-0 mt-4">
                    <div class="counter">
                        <div class="timer count-title count-number" data-to="@Model.Programmes.Count()" data-speed="1500"></div>
                        <p class="count-text">Total courses</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
                    <div class="counter">
                        <div class="timer count-title count-number" data-to="7600" data-speed="1500"></div>
                        <p class="count-text">Successful job seekers</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
                    <div class="counter border-right-0">
                        <div class="timer count-title count-number" data-to="36" data-speed="1500"></div>
                        <p class="count-text">Walk in patrons</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->
<!-- courses section -->
<div class="w3l-grids-block-5 py-5">
    <div class="container py-md-5 py-4">
        <div class="title-heading-w3 text-center mx-auto mb-5 pb-sm-4">
            <h3 class="title-main">Enrol in one of our programs and<span> Make a difference</span></h3>
        </div>
        <div class="row">
            @foreach (var c in Model.Programmes)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="blog-card-single">
                        <div class="grids5-info position-relative">
                            <img src="~/Images/courseThumbnail.png" alt="" class="img-fluid" />
                            <div class="meta-list">

                                @if (c.Category == 0)
                                {
                                    <a asp-controller="Admin" asp-action="Courses">@c.Category</a>
                                }
                                else
                                {
                                    <a asp-controller="Admin" asp-action="Courses">@c.Category</a>
                                }

                            </div>
                            <div class="course-price-item">
                                <h6>@c?.Duration</h6>
                            </div>
                        </div>
                        <div class="content-main-top">
                            <div class="content-top mb-4 mt-3">
                                <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                    <li> <i class="fa fa-signal" aria-hidden="true"></i> @c.StartDate.ToShortDateString()</li>
                                    <li> <i class="fa fa-clock-o" aria-hidden="true"></i>@c.StartDate.ToShortTimeString()</li>
                                </ul>
                            </div>
                            <h4><a href="courses.html">@c.Title</a></h4>
                            <p>@c.Description</p>
                          
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="text-center mt-5">
            <a class="btn btn-style btn-style-secondary mt-sm-3" asp-controller="Home" asp-action="Programmes">
                Browse more programmes<i class="fa fa-arrow-right ml-2" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
<!-- //courses section -->
<!-- grids section -->
<section class="w3l-homeblock1">
    <div class="w3-services-ab py-5">
        <div class="container py-md-5 py-4">
            <div class="w3-services-grids pb-sm-5 mb-sm-4">
                <div class="row w3-services-right-grid">
                    <div class="col-xl-4">

                    </div>
                    <div class="col-xl-8">
                        <div class="fea-gd-vv row">
                            <div class="col-md-6">
                                <div class="d-flex align-items-center feature-gd ">
                                    <div class="icon">
                                        <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
                                    </div>
                                    <div class="icon-info">
                                        <h5>Flexible tutoring sessions</h5>
                                        <p> Our tutors are trained to accomodate the needs of all learners.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-md-0 mt-4">
                                <div class="d-flex align-items-center feature-gd">
                                    <div class="icon">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                    </div>
                                    <div class="icon-info">
                                        <h5>Downloadable learning material/</h5>
                                        <p> We make sure that our learners have access to study material at all times.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4 pt-md-2">
                                <div class="d-flex align-items-center feature-gd ">
                                    <div class="icon">
                                        <i class="fa fa-headphones" aria-hidden="true"></i>
                                    </div>
                                    <div class="icon-info">
                                        <h5>We care</h5>
                                        <p> We care a lot about your child's educational needs.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4 pt-md-2">
                                <div class="d-flex align-items-center feature-gd">
                                    <div class="icon">
                                        <i class="fa fa-play-circle" aria-hidden="true"></i>
                                    </div>
                                    <div class="icon-info">
                                        <h5>Tutorial videos</h5>
                                        <p> We record and make our tutorials instantly available to our learners</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //grids section -->
<br />
<!-- about-2 section -->
<section class="w3l-about-2 pb-5">
    <div class="container pb-md-5 pb-4 mb-5">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-5 about-2-secs-right mb-lg-0 mb-4 text-center">
                <img src="/Images/old.jpg" alt="" class="img-fluid img-responsive m-auto" />
            </div>
            <div class="col-lg-7 about-2-secs-left pr-lg-5">
                <h3 class="title-style mb-sm-3 mb-2">
                    Not Sure Where to Begin? <br>Contact us now, we will hapilly talk throught the process
                </h3>
                <p>
                    Our friendly and helpful staff are always happy to help and answer any questions you may have.
                    Just reach out tou us.. hope to hear from you soon.
                </p>
                <div class="mt-4">
                    <a class="btn btn-style btn-style-secondary mt-3" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about-2 section -->
